/*dai-blog*/


.col-lg-4.col-md-4.col-sm-6 {
    padding: 0 15px;
}

.blog {
    padding-top: 70px;
    padding-bottom: 80px;
}

.blog_item {
    margin-bottom: 35px;
}


.blog_item_pic {
    height: 270px;
    width: 100%;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.blog_item_pic.large_item {
    height: 540px;
}

.blog_item_text {
    padding: 25px 20px 0 0;
    margin-right: 30px;
    background: #ffffff;
    margin-top: -54px;
}

.blog_item_text h6 {
    margin-bottom: 6px;
}


.blog_item_text h6 a {
    color: #111111;
    font-weight: 600;
    line-height: 21px;
}





.blog_item_text ul li {
    font-size: 12px;
    color: #888888;
    display: inline-block;
    list-style: none;
    margin-right: 25px;
    position: relative;
}


.blog_item_text ul li span {
    color: #111111;
}

.blog_item_text ul li:after {
    position: absolute;
    right: -17px;
    top: 0px;
    content: "|";
}

.blog_item_text ul li:last-child::after {
    display: none;
}

.tex-center {
    text-align: center;
}

.primary-btn {
    color: #111111;
    background: #f2f2f2;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 85px 10px;
    font-size: 14px;
    border-radius: 50px;
}